
* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #1b133a;
    font-family: 'Fjalla One', sans-serif;
}

#content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;
	left: 10%;
	right: 10%;
	top: 50px;
}

#textBoard {
	position: relative;
    height: 500px;
    width: 100%;
    background-color: beige;
    border-radius: 10px;
}

#inputBoard {
	position: relative;
    width: 80%;
	top: 20px;
    font-size: 1.5em;
}

#sendButton {
    position: relative;
    left: 85%;
    width: 15%;
    height: 45px;
    bottom: 25px;
    border-radius: 20px;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background-color: #9bbef7;
}

#messageList {
    position: relative;
    font-size: 1.5em;
    width: 90%;
    height: 450px;
    top: 10px;
    left: 5%;
    right: 5%;
    list-style: none;
    overflow: scroll;
}

.messageDiv {
    position: relative;
    height: 80px;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    background-color: #9bbef7;
    margin-bottom: 10px;
    border-radius: 10px;
}

.messageContent {
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    height: 100%;
}

.userLabel {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.2em;
    color: red;
}

.messageLabel {
    position: relative;
    font-size: 1.2em;
    top: 20px;
    left: 120px;
    color: white;
}

.timeLabel {
    position: absolute;
    font-size: .8em;
    top: 0;
    right: 0;
    padding: 10px;
    color: lightgrey;
}